* {
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

hr {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 3px;
}

html {
    background: linear-gradient(45deg,rgb(198, 198, 198),rgb(236, 236, 236));
    background-repeat: no-repeat;
}

/* Heaader Style */

header {
    display: flex;
    position: relative;
}

header img {
    position: absolute;
    top: 125px;
    left: 50px;
    width: 25%;
    border: 3px solid #333333;
    margin: 20px;
}

.headercontent {
    position: absolute;
    top: 150px;
    right: 80px;
    width: 50%;
    background-color: aqua;
    margin: 20px;
    padding: 10px;
}

.headercontent h1 {
    font-size: 40px;
}

/* Navigation bar style */

nav {
    display: flex;
    position: fixed;
    top: 1em;
    left: 25%;
    width: 50%;
    background-color: #333333;
    justify-content: center;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    z-index: 6;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    padding: 16px;
}

nav li a {
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    margin: 60px;
    color: white;
}

nav li a:hover {
    text-decoration: overline;
}

/* Style du contenu */

.contenu {
    margin: 0 auto;
    display: flex;
}

section h2 {
    font-size: 30px;
}

section {
    position: relative;
    top: 570px;
}

section img {
    border: 3px solid #333333;
    width: 50%;
}

/* Style de la section projets */

.projets {
    position: absolute;
    width: 100%;
    height: auto;
}

.projets h2 {
    position: absolute;
    top: 100px;
    left: 100px;
}

.projets img {
    position: absolute;
    top: 80px;
    right: 30px;
    width: 30%;
}

/* Style de la section expériences */

.experiences {
    position: absolute;
    width: 100%;
    top: 940px;
}

/* Style de la section Contact */

.contact {
    position: absolute;
    width: 100%;
    top: 4000px;
}