* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
    text-decoration: none;
    text-align: justify;
}

html {
    scroll-behavior: smooth;

}

/* Style du header */


header {
    background-color: white;
    display: flex;
    text-align: justify;
    width: 100%;
    justify-content: space-around;
    align-items: center;
} 

.gauche, .droite {
    width: 40%;
    padding: 50px;
    margin: 20px;
    margin-top: 100px;
    
}

.droite {
    margin-right: 150px;
}

.gauche {
    margin-left: 100px;
    min-width: 40%;
}

h1 {
    font-size: 50px;

}

header img {
    border: 3px solid black;
}

/* Style de la bare de navigation */

nav {
    display: flex;
    position: absolute;
    width: 90%;
    top: 50px;
    background-color: #333;
    
}

nav ul {
    display: flex;
    width: 100%;
    align-items:center;
    justify-content: right;
    margin: 15px;
}

nav li a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-right: 100px;
}

nav li a:hover {
    text-decoration: underline;
}

nav p {
    display: flex;
    color: white;
    margin-top: 20px;
    margin-left: 50px;
    font-style: italic;
    font-family: monospace;
    font-weight: bolder;
}

/* Style de la section projets */

.projets {
    background: linear-gradient(#0c0c0c,#181818);
    color: white
}

.projets h2 {
    font-size: 35px;
    margin: 20px;
    padding: 50px;
}

.projets h3 {
    font-size: 23px;
}

.animation {
    display: flex;
    margin: 15px;
    padding: 0px;
    justify-content: space-around;
}

.neila {
    padding: 30px;
    margin: 50px;
    text-align: center;
    width: 40%;
    border: 3px solid rgb(255, 255, 255);
}

.murphy { 
    padding: 30px;
    margin: 50px;
    text-align: center;
    width: 40%;
    border: 2px solid rgb(0, 0, 0);
    border: 3px solid white;
}

.jeuxvideo {
    display: flex;
    margin: 15px;
    padding: 0px;
    justify-content: space-around;
    align-items: center;
}

.dcity {
    padding: 30px;
    margin: 50px;
    text-align: center;
    width: 40%;
    border: 3px solid white;
}
/* Style de la section parcours */

.parcours {
    background-color: white;
    color: black;
}


.blocformation {
    display: flex;
}

.gaucheparcours, .droiteparcours {
    padding: 50px;
    margin-left: 50px;
}

.droiteparcours {
    width: 25%;
    height: 25%;
    margin-right: 20px;
    color: white;
}


/* Style du footer */

footer {
    background: linear-gradient(#0c0c0c,#181818);
    color: white;
}

.footer {
    display: flex;
}

footer h2 {
    font-size: 35px;
}

.footertexte {
    margin: 100px;
    margin-top: 175px;
    padding: 30px;
    width: 30%;
    text-align: justify;
}

fieldset {
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.copyright {
    text-align: center;
}
